:where(.geneListViewerContainer) {
  .tableWrapper {
    width: 100%;
    overflow-x: auto;
  }

  .tableElement {
    width: 100%;
    border-collapse: collapse;
  }

  tr {
    cursor: pointer;
  }

  tr:hover {
    background-color: var(--color);
    color: var(--background);
  }

  th {
    font-size: calc(var(--font-scale) * 5);
  }

  td {
    font-size: calc(var(--font-scale) * 4);
  }
}
