:where(.searchResultsViewer) {
    .tableWrapper {
      width: 100%;
      overflow-x: auto;
    }

    .tableElement {
      width: 100%;
      border-collapse: collapse;
    }
    th {
      font-size: calc(var(--font-scale) * 5);
    }

    td {
      font-size: calc(var(--font-scale) * 4);
    }
  }

