/* .header {
  display: none;
} */

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  overflow: hidden;
}

.footer {
  color: var(--color);
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2em;
}

.header,
.main,
.footer {
  background: var(--background);
  border: 1px solid var(--color);
  border-radius: var(--radius);
  padding: 0.4rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  row-gap: 0.75em;
  background: var(--background);
  border: 1px solid var(--color);
  border-radius: 0.1rem;
}

.navMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 0.75em;
  padding: 0.75em 1em;
}

.navSelectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25em;
  width: 100%;
  border: solid 1px white;
  border-radius: 0.1em;
  padding: 0.5em;
  background-color: var(--color-gray-800);
}

/* "w-full flex flex-col gap-y-2 items-center" */
.navFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: center;
  font-size: 0.75em;
}

.navFooterVersionLabel {
  font-weight: bold;
  color: var(--color-red-500);
  text-transform: uppercase;
}
/* w-full bg-gray-200 text-center text-xs text-purple-600 border-t border-t-black dark:border-t-white p-1 */
.navFooterVersionInfo {
  width: 100%;
  text-align: center;
  color: var(--color-purple-600);
  background-color: var(--color-gray-200);
  border-top: solid 1px white;
  padding: 0.1em;
}

.versionValue {
  color: var(--color-red-400);
}

.navFooterVersion {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: solid 2px var(--color-gray-400);
}

.selectLabel {
  font-size: 0.8em;
  color: var(--color-lime-200);
}

.linkContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25em;
}

.linkContainerHeader {
  font-size: 1em;
  color: var(--color-lime-600);
  padding: 0.5em;
}

.links {
  padding: 0.25em;
  text-decoration: none;
  color: var(--color);
  width: 100%;
  text-align: center;
}

.headerBrandLink {
  color: var(--color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75em;
  padding: 0.5em;
  width: max-content;
}

.links:hover {
  background-color: var(--color);
  color: var(--background);
  border-radius: var(--radius);
  text-decoration: none;
}

.linksActive {
  background-color: var(--color);
  color: var(--background);
  border-radius: var(--radius);
  text-decoration: none;
}

@media (min-width: 41em) {
  .header {
    display: unset;
    grid-row: span 1;
    grid-column: span 2;
  }

  .nav {
    grid-area: unset;
    grid-row: span 2;
    grid-column: span 1;;
  }

  .main {
    grid-area: unset;
    grid-column: span 1;
  }

  .footer {
    grid-area: unset;
    grid-column: span 1;
  }
}
