.heatMapContainer {
  display: grid;
  grid-template-rows: auto 1fr; /* Controls take only needed space, SVG takes remaining */
  height: 100%;
  width: 100%;
  row-gap: 0.5em;
}

:where(.heatMapContainer) {
  .saveButton {
    background-color: #3b82f6;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.125rem;
    cursor: pointer;
    height: max-content;
    align-self: flex-end;
  }
  .saveButton:hover {
    background-color: #1d4ed8;
  }
}
