#root {
  margin: 0 auto;
  min-height: 100vh;
  width: clamp(12em, 100vw, 1280px);
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  padding: 0.5em;
  row-gap: 0.5em;
}

@media (min-width: 41em) {
  #root {
    display: grid;
    grid-template-areas: unset;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 0.5em;
  }
}
