/* @import url("https://fonts.googleapis.com/css?family=Zilla+Slab|Zilla+Slab+Highlight&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap"); */

:root {
  --light: 1;
  --dark: -1;
  /* --mode: var(--demo-mode, var(--os-mode, 1)); */
  /* fixing dark mode for now */
  --mode: -1;
  --unmode: calc(var(--mode) * -1);
  --zero: calc((var(--mode) + 1) / 2);
  --unzero: calc((var(--unmode) + 1) / 2);

  /* fonts */
  --zilla: "Zilla Slab", serif;
  --source: "Source Sans 3", sans-serif;

  /* primary colors */
  --neon-blue: #00ffff;
  --lemon-yellow: #fff44f;
  --warm-red: #ff4f5e;
  --neon-green: #54ffbd;
  --dark-purple: #6e008b;
  --upsc-blue: #312f38;

  /* secondary colors */
  --dark-green: #005e5e;
  --dark-blue: #00458b;
  --dark-grey: #959595;
  --light-grey: #e7e5e2;

  /* main color usage */
  --background: hsl(0deg, 100%, calc(100% * var(--zero)));
  --color: hsl(0deg, 100%, calc(100% * var(--unzero)));
  --callout: hsla(0deg, 0%, 50%, 0.25);

  /* action colors */
  --action: hsl(180deg, 50%, calc((50% * var(--unzero)) + (18% * var(--zero))));

  --hover: hsl(270deg, 80%, calc((80% * var(--unzero)) + (70% * var(--zero))));
  /* sizes */
  --font-scale: 0.5vmin;
  --radius: 0.1em;
  --mobile-width: 41em;

  /* applied */
  background-color: var(--background);
  color: var(--color);
  font-family: var(--source);
  font-size: calc(1em + var(--font-scale));
  line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --os-mode: -1;
  }
}

body {
  margin: 0;
  min-width: 12em;
  display: flex;
  background-color: var(--dark-purple);
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--zilla);
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
